<%- include('partials/header'); %>





<h1>Home</h1>

<p>  <%= homeStartingContent %>  </p>
<br>
<h2>Blogs</h2>
<br>
<% posts.forEach(function(post){ %>
    <h3>     <%= post.title  %>    </h3>
    <p>     <%= post.content.slice(0,100)+"..." %> <a href="/posts/<%= post._id %>">Read More</a>  </p> 
    <% }); %>




<%- include('partials/footer'); %>
